{% extends "main.html" %}

{% block content %}
    <h2>City search</h2>
    <form id="citySearch" action="/cities">
        <input type="text" name="name" />
        <button type="submit">Search</button>
    </form>
{% endblock %}

{% block footer %}
    <script src='/components/jquery/dist/jquery.min.js'></script>
    <script>
        (function(){
            $('form#citySearch').removeAttr('action');

            $('form#citySearch').submit(function (event) {
                event.preventDefault();
                window.location.href="/cities/" + $("input[name='name']")[0].value + "/";
            });
        })();
    </script>
{% endblock %}
